<header>请登录</header>
<form id="loginModule" class="login-module">
  <div id="username">
    <span>用户名:</span>
    <input type="text" placeholder="请输入4~12位数字或字母组成的用户名" />
    <p class="info"></p>
  </div>
  <div id="password">
    <span>用户名:</span>
    <input type="password" placeholder="请输入6~12位数字或字母组成的密码" />
    <p class="info"></p>
  </div>
  <button type="submit" class="btn login-btn">登录</button>
</form>