<header>聊天室</header>
<div class="message-panel">
    <div class="message-panel">
        <div class="message-box"></div>
        <textarea id="userInput" cols="30" rows="10"></textarea>
        <div class="btn-box">
            <a href="javascript:;" class="btn clear" id="clearBtn">清空</a>
            <a href="javascript:;" class="btn" id="sendBtn">发送</a>
        </div>
    </div>
    <div class="message-friends">
        <ul>
            <li><a href="javascript:;">zhuiszhu</a></li>
            <li><a href="javascript:;">abc123</a></li>
            <li><a href="javascript:;">abc123</a></li>
        </ul>
    </div>
</div>